# Singapore Resale Price Prediction

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Read the following datasets from Kaggle

In [3]:
data = pd.read_csv('flat-prices.csv')
data.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200

Find the number of distinct categories for each column

In [22]:
 data.town.value_counts() # 26
# data.flat_type.value_counts() #7
# data.storey_range.value_counts() #9
# data.flat_model.value_counts() #13

TAMPINES           30682
YISHUN             27789
BEDOK              27164
ANG MO KIO         20477
JURONG WEST        19203
BUKIT BATOK        16365
HOUGANG            15921
CLEMENTI           11337
TOA PAYOH          10942
PASIR RIS          10911
BUKIT MERAH        10610
GEYLANG            10476
QUEENSTOWN          9774
WOODLANDS           9680
JURONG EAST         9049
KALLANG/WHAMPOA     8712
CHOA CHU KANG       8655
SERANGOON           8527
BISHAN              8332
BUKIT PANJANG       5615
MARINE PARADE       3332
CENTRAL AREA        2492
BUKIT TIMAH          938
SENGKANG             125
LIM CHU KANG          64
SEMBAWANG             24
Name: town, dtype: int64

Since there are too many unique 'towns', it may be too impractical to perform one hot encoding for each unique town.
Group the towns into 5 main categories:

1. North - Yishun, Woodlands, Sembawang, Lim Chu Kang
2. East - Tampines, Bedok, Pasir Ris
3. North East - Ang Mo Kio, Hougang, Serangoon, Sengkang
4. West - Jurong West, Bukit Batok, Clementi, Jurong East, Chua Chu Kang, Bukit Panjang
5. Central - Toa Payoh, Bukit Merah, Geylang, Queenstown, Kallang/Whampoa, Bishan, Marine Parade, Central Area, Bukit Timah

According to: https://www.hdb.gov.sg/about-us/history/hdb-towns-your-home

In [26]:
north = ['YISHUN', 'WOODLANDS', 'SEMBAWANG', 'LIM CHU KANG']
east = ['TAMPINES', 'BEDOK', 'PASIR RIS']
north_east = ['ANG MO KIO', 'HOUGANG', 'SERANGOON', 'SENGKANG']
west = ['JURONG WEST', 'BUKIT BATOK', 'CLEMENTI', 'JURONG EAST', 'CHUA CHU KANG', 'BUKIT PANJANG']
central = ['TOA PAYOH', 'BUKIT MERAH', 'GEYLANG', 'QUEENSTOWN', 'KALLANG/WHAMPOA', 'BISHAN', 'MARINE PARADE', 'CENTRAL AREA', 'BUKIT TIMAH']

for index in data.index:
    if data['town'][index] in north:
        data['region'][index] = 1
    elif data['town'][index] in east:
        data['region'][index] = 2
    elif data['town'][index] in north_east:
        data['region'][index] = 3
    elif data['town'][index] in west:
        data['region'][index] = 4
    else:
        data['region'][index] = 5

<ipython-input-26-29928d7d97e6>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['region'][index] = 3
<ipython-input-26-29928d7d97e6>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['region'][index] = 2
<ipython-input-26-29928d7d97e6>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['region'][index] = 5
<ipython-input-26-29928d7d97e6>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['region'][index] = 4
<ipython-input-26-29928d7d97e6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['region'][index] = 1

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,region
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000,3
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000,3
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000,3